/* Universal */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');

html {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFB;
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* Nav Section */
.navigation {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #FFFFFB;
    opacity: 0.95;
}

.nav-container {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    position: relative;
}

.logo {
    -webkit-display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 4vw 2vh 5vw;
    height: auto;
    width: inherit;
}

.logo h2 {
    margin: 0;
    padding: 0;
    font-size: 8vw;
    font-weight: 100;
}

.logo .mobile-menu-trigger {
    height: inherit;
    width: 12vw;
    background-color: inherit;
    border: 0;
    margin: 0;
    padding: 0;   
}

.logo .mobile-menu-trigger i {
    font-size: 4vw;
}

.logo a {
    color: #444444;
    text-decoration: none;
}

#collapse {
    display: none;
}

.menu-wrap {
    display: none;
    height: 100vh;
    padding-top: 5vh;
    text-align: center;
}

.menu-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.main-menu a {
    font-weight: 100;
    text-decoration: none;
    color: #444444;
}

.menu-wrap .category {
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    font-weight: 300;
    color: #444444;
}

.category-container {
    display: none;
    padding-bottom: 2vh;
}

.category-container li {    
    margin-bottom: 1vh;
}

.category-container li:last-child {
    margin-bottom: 0;
}

.selected a {
    color: #86592d;
}


/* Gallery Section */
img {
    display: block;
    height: 100%;
    width: auto;
}

.gallery-wrapper {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    white-space: nowrap;
    height: 55vh;
    /*vertically center*/
    position: absolute;
    top: 50%;
    margin-top: -27.5vh;
}

.gallery-wrapper > .img-wrapper {
    display: inline-block;
    float: none;
    border: none;
    padding: 0;
    margin: 0 0 0 1.3rem;
    height: inherit;
    background-color: #FFFFFB;
}

.gallery-wrapper > .img-wrapper:first-child {
    left: 0;
}

.gallery-wrapper > .img-wrapper:last-child {
    margin-right: 13vw;
}

.progressive {
    position: relative;
    overflow: hidden;
    outline: none;
}

img.preview {
    filter: blur(0.3vh);
    transform: scale(1.02);
}

img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform, opacity;
    animation: reveal 0.7s ease-out;
}

.photo-animate {
    animation-name: fadeIn, slideLeft;
    animation-duration: 1.2s;
}


/* Text Section */
.text-container {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    position: absolute;
    height: 36vh;
    width: auto;
    top: 35%;
    left: 5vw;
    margin-top: -18vh;
    padding: 0;
    color: #444444;
    will-change: transform;

}

.item {
    display: inline-block;
    float: none;
    border: none;
    height: inherit;
    padding: 0;
    margin-right: 4vw;
    margin-top: 5vh;
    background-color: #FFFFFB;
}

.item p {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 4.2vw;

}

.item span {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2.8vw;
}


/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    65% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0)
    }
}

@keyframes reveal {
    from {
        transform: scale(1.02);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* small (landscape phone) */
@media only screen and (min-width: 480px) {

    /*Nav Section */
    .navigation {
        display: none;
    }


    /*Gallery Section */
    .gallery-wrapper {
        height: 75vh;
        /*vertically center*/
        position: absolute;
        top: 50%;
        margin-top: -37.5vh;
    }


    /*Text Section */
    .text-container {
        height: 66vh;
        top: 50%;
        margin: -33vh 0 0 0;
    }

    .item {
        margin-top: 0;
    }

    .item p {
        font-size: 2.5vw;
    }

    .item span {
        font-size: 1.7vw;
    }
}


/* medium (tablets portrait) */
@media only screen and (min-width: 765px) {

    /* Nav Section */
    .navigation {
        display:block;
    }

    .menu-wrap {
        font-size: 2.4vh;
    }


    /* Gallery Section */
    .gallery-wrapper {
        height: 60vh;
        left: 2vw;
        position: absolute;
        top: 50%;
        margin-top: -30vh;
    }


    /* Text Section */
    .text-container {
        flex-wrap: nowrap;
        height: 30vh;
        top: 35%;
        margin: -15vh 0 0 0;
    }

    .item {
        margin-right: 4vw;
    }

    .item p {

        font-size: 2.7vw;
    }

    .item span {

        font-size: 2.2vw;
    }
}


/* large (desktop and tablet landscape) */
@media only screen and (min-width: 992px) {

    /* Nav Section */
    .navigation {
        display: block;
        width: 13rem;
        height: 100%;
        min-height: 30rem;
        position: fixed;
        top: 0;
        z-index: 999999;
        left: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        opacity: 0.95;
    }

    .nav-container {
        height: 30rem;
        top: 50%;
        margin-top: -15rem;
        padding-top: 2rem;
        will-change: transform;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        text-align: left;
        padding: 0;
        margin: 0 0 3rem 0;
    }

    .logo h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 100;
    }

    .logo a:hover {
        text-decoration: none;
        color: #222222;
        font-weight: 300;
    }

    .mobile-menu-trigger {
        display: none;
    }

    .menu-wrap {
        font-size: 1rem;
        padding-top: 0;
        margin: 0;
        display: block;
        height: auto;
        text-align: left;
    }

    .menu-wrap .category {
        border-top: 1px solid #cccccc;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        cursor: pointer;
        font-weight: 300;
        color: #444444;
    }

    .menu-wrap .category:hover {
        font-weight: 400;
        color: #222222;
    }

    .category-container {
        padding-top: 0.2rem;
        padding-bottom: 0.4rem;
    }

    .category-container li {    
        margin-bottom: 0.4em;
    }

    .category-container li:last-child {
        margin-bottom: 0em;
    }

    .main-menu a:hover {
        text-decoration: none;
        font-weight: 300;
        color: #222222;
    }

    .selected a:hover {
        color: #734d26;
    }

    .nav-animate {
        animation-name: fadeIn, slideDown;
        animation-duration: 1.2s;
    }


    /* Gallery Section */
    .gallery-wrapper {
        height: 30rem;
        left: 19rem;
        /*vertically center*/
        position: absolute;
        top: 50%;
        margin-top: -15rem;
        will-change: transform;
    }


    /* Text Section */
    .text-container {
        height: 25rem;
        left: 19rem;
        top: 50%;
        margin-top: -12.5rem;
    }

    .item {
        margin-right: 1.5rem;
    }

    .item p {
        font-size: 1rem;
    }

    .item span {
        font-size: 1rem;
    }


}
